[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./DrawingofZones/config/*,
       ./DrawingofZones/manage.py,
       ./DrawingofZones/wsgi.py,
       *__init__*
